<!-- app/views/tasks/edit.html.erb -->

<h1>Edit Task Page</h1>

<!-- タイトルのフォームラベル作成 -->
<!-- タスクを登録するボタン作成する -->
<%= render 'form', task: @task %>

<!-- タスク一覧画面に戻るリンク作成する -->
<td><%= link_to 'Back', tasks_path, id:'back'%></td>
