<!-- app/views/tasks/new.html.erb -->

<h1><%= t("new_task.page_title") %>	</h1>

<!-- タイトルのフォームラベル作成 -->
<%= render 'form', task: @task %>

<!-- タスク一覧画面に戻るリンク作成する -->
<div>
<td><%= link_to t("new_task.back_to_tasks_index_link"), tasks_path, id:'back'%></td>
</div>