<!DOCTYPE html>
<html>
<head>
  <title>Server Error</title>
  <style>
    body {
      text-align: center;
      padding: 150px;
    }
    h1 {
      font-size: 50px;
    }
    body {
      font: 20px Helvetica, sans-serif;
      color: #333;
    }
    article {
      display: block;
      text-align: left;
      width: 650px;
      margin: 0 auto;
    }
    img {
      max-width: 100%;
    }
  </style>
</head>
<body>
  <article>
  <img src="<%= asset_path('500_image.png') %>" alt="500 Error">
  <h1>サーバー内部で何らかのエラーが発生しています。</h1>
  </article>
</body>
</html>
